* text=auto !eol
Indy10/Lib/Core/IdAbout.pas -text
Indy10/Lib/Core/IdAntiFreeze.pas -text
Indy10/Lib/Core/IdAssignedNumbers.pas -text
Indy10/Lib/Core/IdBuffer.pas -text
Indy10/Lib/Core/IdCmdTCPClient.pas -text
Indy10/Lib/Core/IdCmdTCPServer.pas -text
Indy10/Lib/Core/IdCommandHandlers.pas -text
Indy10/Lib/Core/IdCompilerDefines.inc -text
Indy10/Lib/Core/IdContext.pas -text
Indy10/Lib/Core/IdCore90ASM90.inc -text
Indy10/Lib/Core/IdCoreDsnRegister.pas -text
Indy10/Lib/Core/IdCoreRegister.dcr -text svneol=unset#unset
Indy10/Lib/Core/IdCoreRegisterCool.dcr -text svneol=unset#unset
Indy10/Lib/Core/IdCreditsBitmap.res -text svneol=unset#unset
Indy10/Lib/Core/IdCreditsBitmap.resources -text svneol=unset#unset
Indy10/Lib/Core/IdCustomTCPServer.pas -text
Indy10/Lib/Core/IdCustomTransparentProxy.pas -text
Indy10/Lib/Core/IdDsnBaseCmpEdt.pas -text
Indy10/Lib/Core/IdDsnCoreResourceStrings.pas -text
Indy10/Lib/Core/IdDsnPropEdBinding.pas -text
Indy10/Lib/Core/IdExceptionCore.pas -text
Indy10/Lib/Core/IdGlobalCore.pas -text
Indy10/Lib/Core/IdIOHandler.pas -text
Indy10/Lib/Core/IdIOHandlerSocket.pas -text
Indy10/Lib/Core/IdIOHandlerStack.pas -text
Indy10/Lib/Core/IdIOHandlerStream.pas -text
Indy10/Lib/Core/IdIPAddress.pas -text
Indy10/Lib/Core/IdIPMCastBase.pas -text
Indy10/Lib/Core/IdIPMCastClient.pas -text
Indy10/Lib/Core/IdIPMCastServer.pas -text
Indy10/Lib/Core/IdIcmpClient.pas -text
Indy10/Lib/Core/IdIntercept.pas -text
Indy10/Lib/Core/IdInterceptSimLog.pas -text
Indy10/Lib/Core/IdInterceptThrottler.pas -text
Indy10/Lib/Core/IdLogBase.pas -text
Indy10/Lib/Core/IdLogDebug.pas -text
Indy10/Lib/Core/IdLogEvent.pas -text
Indy10/Lib/Core/IdLogFile.pas -text
Indy10/Lib/Core/IdLogStream.pas -text
Indy10/Lib/Core/IdRawBase.pas -text
Indy10/Lib/Core/IdRawClient.pas -text
Indy10/Lib/Core/IdRawFunctions.pas -text
Indy10/Lib/Core/IdRawHeaders.pas -text
Indy10/Lib/Core/IdRegisterCore.pas -text
Indy10/Lib/Core/IdReply.pas -text
Indy10/Lib/Core/IdReplyRFC.pas -text
Indy10/Lib/Core/IdResourceStringsCore.pas -text
Indy10/Lib/Core/IdScheduler.pas -text
Indy10/Lib/Core/IdSchedulerOfThread.pas -text
Indy10/Lib/Core/IdSchedulerOfThreadDefault.pas -text
Indy10/Lib/Core/IdSchedulerOfThreadPool.pas -text
Indy10/Lib/Core/IdServerIOHandler.pas -text
Indy10/Lib/Core/IdServerIOHandlerSocket.pas -text
Indy10/Lib/Core/IdServerIOHandlerStack.pas -text
Indy10/Lib/Core/IdSimpleServer.pas -text
Indy10/Lib/Core/IdSocketHandle.pas -text
Indy10/Lib/Core/IdSocks.pas -text
Indy10/Lib/Core/IdSync.pas -text
Indy10/Lib/Core/IdTCPClient.pas -text
Indy10/Lib/Core/IdTCPConnection.pas -text
Indy10/Lib/Core/IdTCPServer.pas -text
Indy10/Lib/Core/IdTCPStream.pas -text
Indy10/Lib/Core/IdTask.pas -text
Indy10/Lib/Core/IdThread.pas -text
Indy10/Lib/Core/IdThreadComponent.pas -text
Indy10/Lib/Core/IdThreadSafe.pas -text
Indy10/Lib/Core/IdUDPBase.pas -text
Indy10/Lib/Core/IdUDPClient.pas -text
Indy10/Lib/Core/IdUDPServer.pas -text
Indy10/Lib/Core/IdYarn.pas -text
Indy10/Lib/Core/IddclCore90ASM90.inc -text
Indy10/Lib/Core/IndyCore50.RES -text svneol=unset#unset
Indy10/Lib/Core/IndyCore50.dpk -text
Indy10/Lib/Core/IndyCore50.rc -text
Indy10/Lib/Core/IndyCore60.RES -text svneol=unset#unset
Indy10/Lib/Core/IndyCore60.dpk -text
Indy10/Lib/Core/IndyCore60.rc -text
Indy10/Lib/Core/IndyCore70.RES -text svneol=unset#unset
Indy10/Lib/Core/IndyCore70.dpk -text
Indy10/Lib/Core/IndyCore70.rc -text
Indy10/Lib/Core/IndyCore90.RES -text svneol=unset#unset
Indy10/Lib/Core/IndyCore90.dpk -text
Indy10/Lib/Core/IndyCore90.rc -text
Indy10/Lib/Core/IndyCore90Net.bdsproj -text
Indy10/Lib/Core/IndyCore90Net.dpk -text
Indy10/Lib/Core/IndyCoreK3.dpk -text
Indy10/Lib/Core/dclIndyCore50.dpk -text
Indy10/Lib/Core/dclIndyCore50.rc -text
Indy10/Lib/Core/dclIndyCore50.res -text svneol=unset#unset
Indy10/Lib/Core/dclIndyCore60.dpk -text
Indy10/Lib/Core/dclIndyCore60.rc -text
Indy10/Lib/Core/dclIndyCore60.res -text svneol=unset#unset
Indy10/Lib/Core/dclIndyCore70.dpk -text
Indy10/Lib/Core/dclIndyCore70.rc -text
Indy10/Lib/Core/dclIndyCore70.res -text svneol=unset#unset
Indy10/Lib/Core/dclIndyCore90.bdsproj -text
Indy10/Lib/Core/dclIndyCore90.dpk -text
Indy10/Lib/Core/dclIndyCore90.rc -text
Indy10/Lib/Core/dclIndyCore90.res -text svneol=unset#unset
Indy10/Lib/Core/dclIndyCore90Net.bdsproj -text
Indy10/Lib/Core/dclIndyCore90Net.dpk -text
Indy10/Lib/Core/dclindycorek3.dpk -text
Indy10/Lib/Core/dclindycorek3.dpkl -text
Indy10/Lib/Core/dclindycorek3.res -text svneol=unset#unset
Indy10/Lib/Indy.Sockets.bdsproj -text
Indy10/Lib/Indy.Sockets.dpr -text
Indy10/Lib/Indy.SocketsDebug.bdsproj -text
Indy10/Lib/Indy.SocketsDebug.dpr -text
Indy10/Lib/Indy100Net.dpk -text
Indy10/Lib/Indy110Net.dpk -text
Indy10/Lib/Indy90Net.dpk -text
Indy10/Lib/Protocols/IdASN1Coder.pas -text
Indy10/Lib/Protocols/IdASN1Util.pas -text
Indy10/Lib/Protocols/IdAllFTPListParsers.pas -text
Indy10/Lib/Protocols/IdAttachment.pas -text
Indy10/Lib/Protocols/IdAttachmentFile.pas -text
Indy10/Lib/Protocols/IdAttachmentMemory.pas -text
Indy10/Lib/Protocols/IdAuthentication.pas -text
Indy10/Lib/Protocols/IdAuthenticationDigest.pas -text
Indy10/Lib/Protocols/IdAuthenticationManager.pas -text
Indy10/Lib/Protocols/IdAuthenticationNTLM.pas -text
Indy10/Lib/Protocols/IdAuthenticationSSPI.pas -text
Indy10/Lib/Protocols/IdBlockCipherIntercept.pas -text
Indy10/Lib/Protocols/IdChargenServer.pas -text
Indy10/Lib/Protocols/IdChargenUDPServer.pas -text
Indy10/Lib/Protocols/IdCharsets.pas -text
Indy10/Lib/Protocols/IdCoder.pas -text
Indy10/Lib/Protocols/IdCoder00E.pas -text
Indy10/Lib/Protocols/IdCoder3to4.pas -text
Indy10/Lib/Protocols/IdCoderBinHex4.pas -text
Indy10/Lib/Protocols/IdCoderHeader.pas -text
Indy10/Lib/Protocols/IdCoderMIME.pas -text
Indy10/Lib/Protocols/IdCoderQuotedPrintable.pas -text
Indy10/Lib/Protocols/IdCoderTNEF.pas -text
Indy10/Lib/Protocols/IdCoderUUE.pas -text
Indy10/Lib/Protocols/IdCoderXXE.pas -text
Indy10/Lib/Protocols/IdCompilerDefines.inc -text
Indy10/Lib/Protocols/IdCompressionIntercept.pas -text
Indy10/Lib/Protocols/IdConnectThroughHttpProxy.pas -text
Indy10/Lib/Protocols/IdContainers.pas -text
Indy10/Lib/Protocols/IdCookie.pas -text
Indy10/Lib/Protocols/IdCookieManager.pas -text
Indy10/Lib/Protocols/IdCustomHTTPServer.pas -text
Indy10/Lib/Protocols/IdDICT.pas -text
Indy10/Lib/Protocols/IdDICTCommon.pas -text
Indy10/Lib/Protocols/IdDICTServer.pas -text
Indy10/Lib/Protocols/IdDNSCommon.pas -text
Indy10/Lib/Protocols/IdDNSResolver.pas -text
Indy10/Lib/Protocols/IdDNSServer.pas -text
Indy10/Lib/Protocols/IdDateTimeStamp.pas -text
Indy10/Lib/Protocols/IdDayTime.pas -text
Indy10/Lib/Protocols/IdDayTimeServer.pas -text
Indy10/Lib/Protocols/IdDayTimeUDP.pas -text
Indy10/Lib/Protocols/IdDayTimeUDPServer.pas -text
Indy10/Lib/Protocols/IdDiscardServer.pas -text
Indy10/Lib/Protocols/IdDiscardUDPServer.pas -text
Indy10/Lib/Protocols/IdDsnRegister.pas -text
Indy10/Lib/Protocols/IdDsnResourceStrings.pas -text
Indy10/Lib/Protocols/IdDsnSASLListEditor.pas -text
Indy10/Lib/Protocols/IdDsnSASLListEditorForm.pas -text
Indy10/Lib/Protocols/IdDummyUnit.pas -text
Indy10/Lib/Protocols/IdEMailAddress.pas -text
Indy10/Lib/Protocols/IdEcho.pas -text
Indy10/Lib/Protocols/IdEchoServer.pas -text
Indy10/Lib/Protocols/IdEchoUDP.pas -text
Indy10/Lib/Protocols/IdEchoUDPServer.pas -text
Indy10/Lib/Protocols/IdExplicitTLSClientServerBase.pas -text
Indy10/Lib/Protocols/IdFSP.pas -text
Indy10/Lib/Protocols/IdFTP.pas -text
Indy10/Lib/Protocols/IdFTPBaseFileSystem.pas -text
Indy10/Lib/Protocols/IdFTPCommon.pas -text
Indy10/Lib/Protocols/IdFTPList.pas -text
Indy10/Lib/Protocols/IdFTPListOutput.pas -text
Indy10/Lib/Protocols/IdFTPListParseAS400.pas -text
Indy10/Lib/Protocols/IdFTPListParseBase.pas -text
Indy10/Lib/Protocols/IdFTPListParseBullGCOS7.pas -text
Indy10/Lib/Protocols/IdFTPListParseBullGCOS8.pas -text
Indy10/Lib/Protocols/IdFTPListParseChameleonNewt.pas -text
Indy10/Lib/Protocols/IdFTPListParseCiscoIOS.pas -text
Indy10/Lib/Protocols/IdFTPListParseDistinctTCPIP.pas -text
Indy10/Lib/Protocols/IdFTPListParseEPLF.pas -text
Indy10/Lib/Protocols/IdFTPListParseHellSoft.pas -text
Indy10/Lib/Protocols/IdFTPListParseKA9Q.pas -text
Indy10/Lib/Protocols/IdFTPListParseMPEiX.pas -text
Indy10/Lib/Protocols/IdFTPListParseMVS.pas -text
Indy10/Lib/Protocols/IdFTPListParseMicrowareOS9.pas -text
Indy10/Lib/Protocols/IdFTPListParseMusic.pas -text
Indy10/Lib/Protocols/IdFTPListParseNCSAForDOS.pas -text
Indy10/Lib/Protocols/IdFTPListParseNCSAForMACOS.pas -text
Indy10/Lib/Protocols/IdFTPListParseNovellNetware.pas -text
Indy10/Lib/Protocols/IdFTPListParseNovellNetwarePSU.pas -text
Indy10/Lib/Protocols/IdFTPListParseOS2.pas -text
Indy10/Lib/Protocols/IdFTPListParsePCNFSD.pas -text
Indy10/Lib/Protocols/IdFTPListParseStercomOS390Exp.pas -text
Indy10/Lib/Protocols/IdFTPListParseStercomUnixEnt.pas -text
Indy10/Lib/Protocols/IdFTPListParseStratusVOS.pas -text
Indy10/Lib/Protocols/IdFTPListParseSuperTCP.pas -text
Indy10/Lib/Protocols/IdFTPListParseTOPS20.pas -text
Indy10/Lib/Protocols/IdFTPListParseTSXPlus.pas -text
Indy10/Lib/Protocols/IdFTPListParseTandemGuardian.pas -text
Indy10/Lib/Protocols/IdFTPListParseUnisysClearPath.pas -text
Indy10/Lib/Protocols/IdFTPListParseUnix.pas -text
Indy10/Lib/Protocols/IdFTPListParseVM.pas -text
Indy10/Lib/Protocols/IdFTPListParseVMS.pas -text
Indy10/Lib/Protocols/IdFTPListParseVSE.pas -text
Indy10/Lib/Protocols/IdFTPListParseVxWorks.pas -text
Indy10/Lib/Protocols/IdFTPListParseWfFTP.pas -text
Indy10/Lib/Protocols/IdFTPListParseWinQVTNET.pas -text
Indy10/Lib/Protocols/IdFTPListParseWindowsNT.pas -text
Indy10/Lib/Protocols/IdFTPListParseXecomMicroRTOS.pas -text
Indy10/Lib/Protocols/IdFTPListTypes.pas -text
Indy10/Lib/Protocols/IdFTPServer.pas -text
Indy10/Lib/Protocols/IdFTPServerContextBase.pas -text
Indy10/Lib/Protocols/IdFinger.pas -text
Indy10/Lib/Protocols/IdFingerServer.pas -text
Indy10/Lib/Protocols/IdGlobalProtocols.pas -text
Indy10/Lib/Protocols/IdGopher.pas -text
Indy10/Lib/Protocols/IdGopherConsts.pas -text
Indy10/Lib/Protocols/IdGopherServer.pas -text
Indy10/Lib/Protocols/IdHL7.pas -text
Indy10/Lib/Protocols/IdHTTP.pas -text
Indy10/Lib/Protocols/IdHTTPHeaderInfo.pas -text
Indy10/Lib/Protocols/IdHTTPProxyServer.pas -text
Indy10/Lib/Protocols/IdHTTPServer.pas -text
Indy10/Lib/Protocols/IdHTTPWebBrokerBridge.pas -text
Indy10/Lib/Protocols/IdHash.pas -text
Indy10/Lib/Protocols/IdHashAdler32.pas -text
Indy10/Lib/Protocols/IdHashCRC.pas -text
Indy10/Lib/Protocols/IdHashElf.pas -text
Indy10/Lib/Protocols/IdHashMessageDigest.pas -text
Indy10/Lib/Protocols/IdHashSHA1.pas -text
Indy10/Lib/Protocols/IdHeaderList.pas -text
Indy10/Lib/Protocols/IdHostnameServer.pas -text
Indy10/Lib/Protocols/IdIMAP4.pas -text
Indy10/Lib/Protocols/IdIMAP4Server.pas -text
Indy10/Lib/Protocols/IdIPAddrMon.pas -text
Indy10/Lib/Protocols/IdIPWatch.pas -text
Indy10/Lib/Protocols/IdIRC.pas -text
Indy10/Lib/Protocols/IdIdent.pas -text
Indy10/Lib/Protocols/IdIdentServer.pas -text
Indy10/Lib/Protocols/IdIrcServer.pas -text
Indy10/Lib/Protocols/IdLDAPV3.pas -text
Indy10/Lib/Protocols/IdLDAPV3Coder.pas -text
Indy10/Lib/Protocols/IdLPR.pas -text
Indy10/Lib/Protocols/IdMIMETypes.pas -text
Indy10/Lib/Protocols/IdMailBox.pas -text
Indy10/Lib/Protocols/IdMappedFTP.pas -text
Indy10/Lib/Protocols/IdMappedPOP3.pas -text
Indy10/Lib/Protocols/IdMappedPortTCP.pas -text
Indy10/Lib/Protocols/IdMappedPortUDP.pas -text
Indy10/Lib/Protocols/IdMappedTelnet.pas -text
Indy10/Lib/Protocols/IdMessage.pas -text
Indy10/Lib/Protocols/IdMessageClient.pas -text
Indy10/Lib/Protocols/IdMessageCoder.pas -text
Indy10/Lib/Protocols/IdMessageCoderMIME.pas -text
Indy10/Lib/Protocols/IdMessageCoderQuotedPrintable.pas -text
Indy10/Lib/Protocols/IdMessageCoderUUE.pas -text
Indy10/Lib/Protocols/IdMessageCoderXXE.pas -text
Indy10/Lib/Protocols/IdMessageCoderYenc.pas -text
Indy10/Lib/Protocols/IdMessageCollection.pas -text
Indy10/Lib/Protocols/IdMessageParts.pas -text
Indy10/Lib/Protocols/IdMultipartFormData.pas -text
Indy10/Lib/Protocols/IdNNTP.pas -text
Indy10/Lib/Protocols/IdNNTPServer.pas -text
Indy10/Lib/Protocols/IdNTLM.pas -text
Indy10/Lib/Protocols/IdNetworkCalculator.pas -text
Indy10/Lib/Protocols/IdOSFileName.pas -text
Indy10/Lib/Protocols/IdOTPCalculator.pas -text
Indy10/Lib/Protocols/IdPOP3.pas -text
Indy10/Lib/Protocols/IdPOP3Server.pas -text
Indy10/Lib/Protocols/IdPOP4Server.pas -text
Indy10/Lib/Protocols/IdProtocols90ASM90.inc -text
Indy10/Lib/Protocols/IdQOTDUDP.pas -text
Indy10/Lib/Protocols/IdQOTDUDPServer.pas -text
Indy10/Lib/Protocols/IdQotd.pas -text
Indy10/Lib/Protocols/IdQotdServer.pas -text
Indy10/Lib/Protocols/IdRSH.pas -text
Indy10/Lib/Protocols/IdRSHServer.pas -text
Indy10/Lib/Protocols/IdRegister.dcr -text svneol=unset#unset
Indy10/Lib/Protocols/IdRegister.pas -text
Indy10/Lib/Protocols/IdRegisterCool.dcr -text svneol=unset#unset
Indy10/Lib/Protocols/IdRemoteCMDClient.pas -text
Indy10/Lib/Protocols/IdRemoteCMDServer.pas -text
Indy10/Lib/Protocols/IdReplyFTP.pas -text
Indy10/Lib/Protocols/IdReplyIMAP4.pas -text
Indy10/Lib/Protocols/IdReplyPOP3.pas -text
Indy10/Lib/Protocols/IdReplySMTP.pas -text
Indy10/Lib/Protocols/IdResourceStringsProtocols.pas -text
Indy10/Lib/Protocols/IdRexec.pas -text
Indy10/Lib/Protocols/IdRexecServer.pas -text
Indy10/Lib/Protocols/IdSASL.pas -text
Indy10/Lib/Protocols/IdSASLAnonymous.pas -text
Indy10/Lib/Protocols/IdSASLCollection.pas -text
Indy10/Lib/Protocols/IdSASLExternal.pas -text
Indy10/Lib/Protocols/IdSASLListEditorForm.RES -text svneol=unset#unset
Indy10/Lib/Protocols/IdSASLListEditorForm.resources -text svneol=unset#unset
Indy10/Lib/Protocols/IdSASLLogin.pas -text
Indy10/Lib/Protocols/IdSASLOTP.pas -text
Indy10/Lib/Protocols/IdSASLPlain.pas -text
Indy10/Lib/Protocols/IdSASLSKey.pas -text
Indy10/Lib/Protocols/IdSASLUserPass.pas -text
Indy10/Lib/Protocols/IdSASL_CRAM_MD5.pas -text
Indy10/Lib/Protocols/IdSMTP.pas -text
Indy10/Lib/Protocols/IdSMTPBase.pas -text
Indy10/Lib/Protocols/IdSMTPRelay.pas -text
Indy10/Lib/Protocols/IdSMTPServer.pas -text
Indy10/Lib/Protocols/IdSNMP.pas -text
Indy10/Lib/Protocols/IdSNPP.pas -text
Indy10/Lib/Protocols/IdSNTP.pas -text
Indy10/Lib/Protocols/IdSSH.pas -text
Indy10/Lib/Protocols/IdSSL.pas -text
Indy10/Lib/Protocols/IdSSLOpenSSL.pas -text
Indy10/Lib/Protocols/IdSSLOpenSSLHeaders.pas -text
Indy10/Lib/Protocols/IdSSPI.pas -text
Indy10/Lib/Protocols/IdSecurity90ASM90.inc -text
Indy10/Lib/Protocols/IdServerIOHandlerSSLOpenSSL.pas -text
Indy10/Lib/Protocols/IdServerInterceptLogBase.pas -text
Indy10/Lib/Protocols/IdServerInterceptLogEvent.pas -text
Indy10/Lib/Protocols/IdServerInterceptLogFile.pas -text
Indy10/Lib/Protocols/IdSocksServer.pas -text
Indy10/Lib/Protocols/IdStrings.pas -text
Indy10/Lib/Protocols/IdSysLog.pas -text
Indy10/Lib/Protocols/IdSysLogMessage.pas -text
Indy10/Lib/Protocols/IdSysLogServer.pas -text
Indy10/Lib/Protocols/IdSystat.pas -text
Indy10/Lib/Protocols/IdSystatServer.pas -text
Indy10/Lib/Protocols/IdSystatUDP.pas -text
Indy10/Lib/Protocols/IdSystatUDPServer.pas -text
Indy10/Lib/Protocols/IdTelnet.pas -text
Indy10/Lib/Protocols/IdTelnetServer.pas -text
Indy10/Lib/Protocols/IdText.pas -text
Indy10/Lib/Protocols/IdTime.pas -text
Indy10/Lib/Protocols/IdTimeServer.pas -text
Indy10/Lib/Protocols/IdTimeUDP.pas -text
Indy10/Lib/Protocols/IdTimeUDPServer.pas -text
Indy10/Lib/Protocols/IdTrivialFTP.pas -text
Indy10/Lib/Protocols/IdTrivialFTPBase.pas -text
Indy10/Lib/Protocols/IdTrivialFTPServer.pas -text
Indy10/Lib/Protocols/IdTunnelCommon.pas -text
Indy10/Lib/Protocols/IdTunnelMaster.pas -text
Indy10/Lib/Protocols/IddclProtocols90ASM90.inc -text
Indy10/Lib/Protocols/adler32.obj -text svneol=unset#unset
Indy10/Lib/Protocols/compress.obj -text svneol=unset#unset
Indy10/Lib/Protocols/crc32.obj -text svneol=unset#unset
Indy10/Lib/Protocols/dclIndyProtocols50.RES -text svneol=unset#unset
Indy10/Lib/Protocols/dclIndyProtocols50.dpk -text
Indy10/Lib/Protocols/dclIndyProtocols50.rc -text
Indy10/Lib/Protocols/dclIndyProtocols60.RES -text svneol=unset#unset
Indy10/Lib/Protocols/dclIndyProtocols60.dpk -text
Indy10/Lib/Protocols/dclIndyProtocols60.rc -text
Indy10/Lib/Protocols/dclIndyProtocols70.dpk -text
Indy10/Lib/Protocols/dclIndyProtocols70.rc -text
Indy10/Lib/Protocols/dclIndyProtocols70.res -text svneol=unset#unset
Indy10/Lib/Protocols/dclIndyProtocols90.bdsproj -text
Indy10/Lib/Protocols/dclIndyProtocols90.dpk -text
Indy10/Lib/Protocols/dclIndyProtocols90.rc -text
Indy10/Lib/Protocols/dclIndyProtocols90.res -text svneol=unset#unset
Indy10/Lib/Protocols/dclIndyProtocols90Net.bdsproj -text
Indy10/Lib/Protocols/dclIndyProtocols90Net.dpk -text
Indy10/Lib/Protocols/dclIndyProtocolsK3.dpk -text
Indy10/Lib/Protocols/deflate.obj -text svneol=unset#unset
Indy10/Lib/Protocols/infback.obj -text svneol=unset#unset
Indy10/Lib/Protocols/inffast.obj -text svneol=unset#unset
Indy10/Lib/Protocols/inflate.obj -text svneol=unset#unset
Indy10/Lib/Protocols/inftrees.obj -text svneol=unset#unset
Indy10/Lib/Protocols/trees.obj -text svneol=unset#unset
