/* Client components */
TIDDAYTIME                             BITMAP "TIDDAYTIME.BMP"
TiddaytimeUDP                          BITMAP "TiddaytimeUDP.bmp"
TIDDNSRESOLVER                         BITMAP "TIDDNSRESOLVER.BMP"
TIDECHO                                BITMAP "TIDECHO.BMP"
TIdEchoUDP                             BITMAP "TIdEchoUDP.BMP"
TIDFINGER                              BITMAP "TIDFINGER.BMP"
TIDFTP                                 BITMAP "TIDFTP.BMP"
TIDGOPHER                              BITMAP "TIDGOPHER.BMP"
TIDHTTP                                BITMAP "TIDHTTP.BMP"
TIDIDENT                               BITMAP "TIDIDENT.BMP"

TIdIMAP4                               BITMAP "TIdIMAP4.bmp"
TIdIRC                                 BITMAP "TIdIRC.bmp"
TIdLPR                                 BITMAP "TIdLPR.bmp"
TIDNNTP                                BITMAP "TIDNNTP.BMP"
TIDPOP3                                BITMAP "TIDPOP3.BMP"
TIDQOTD                                BITMAP "TIDQOTD.BMP"
TIdQotdUDP                             BITMAP "TIdQotdUDP.bmp"
TIDRAWCLIENT                           BITMAP "TIDRAWCLIENT.BMP"
TIDREXEC                               BITMAP "TIDREXEC.BMP"
TIDRSH                                 BITMAP "TIDRSH.BMP"
TIDSMTP                                BITMAP "TIDSMTP.BMP"
TIDSNMP                                BITMAP "TIdSNMP.bmp"
TIDSNPP                                BITMAP "TIdSNPP.bmp"
TIDSNTP                                BITMAP "TIDSNTP.BMP"

TIdSysLog                              BITMAP "TIdSysLog.bmp"
TIdSystat                              BITMAP "TIdSystat.bmp"
TIdSystatUDP                           BITMAP "TIdSystatUDP.bmp"
TIDTELNET                              BITMAP "TIDTELNET.BMP"
TIDTIME                                BITMAP "TIDTIME.BMP"

TIdTimeUDP                             BITMAP "TIdTimeUDP.bmp"
TIDTRIVIALFTP                          BITMAP "TIDTRIVIALFTP.BMP"
TIDWHOIS                               BITMAP "TIDWHOIS.BMP"
TIdSMTPRelay                           BITMAP "TIdSMTPRelay.bmp"

/* Server components */
TIDCHARGENSERVER                       BITMAP "TIDCHARGENSERVER.BMP"
TIdChargenUDPServer                    BITMAP "TIdChargenUDPServer.bmp"
TIDDAYTIMESERVER                       BITMAP "TIDDAYTIMESERVER.BMP"
TiddaytimeUDPserver                    BITMAP "TiddaytimeUDPserver.bmp"
TIDDICTSERVER                          BITMAP "TIDDICTSERVER.BMP"
TIDDISCARDSERVER                       BITMAP "TIDDISCARDSERVER.BMP"
TIdDiscardUDPServer                    BITMAP "TIdDiscardUDPServer.bmp"
TIdDNSServer                           BITMAP "TIdDNSServer.bmp"
TIDECHOSERVER                          BITMAP "TIDECHOSERVER.BMP"
TIdEchoUDPServer                       BITMAP "TIdEchoUDPServer.bmp"
TIDFINGERSERVER                        BITMAP "TIDFINGERSERVER.BMP"
TIdFTPServer                           BITMAP "TIdFTPServer.bmp"
TIDGOPHERSERVER                        BITMAP "TIDGOPHERSERVER.BMP"
TIDHTTPSERVER                          BITMAP "TIDHTTPSERVER.BMP"
TIdHTTPProxyServer                     BITMAP "TIdHTTPProxyServer.bmp"
TIDIDENTSERVER                         BITMAP "TIDIDENTSERVER.BMP"
TIDIMAP4SERVER                         BITMAP "TIDIMAP4SERVER.BMP"
TIDIRCSERVER                           BITMAP "TIDIRCSERVER.BMP"
TIDMAPPEDPORTTCP                       BITMAP "TIDMAPPEDPORTTCP.BMP"
TIDMAPPEDPORTUDP                       BITMAP "TIDMAPPEDPORTUDP.BMP"
TIdMappedTelnet                        BITMAP "TIdMappedTelnet.bmp"
TIdMappedPop3                          BITMAP "TIdMappedPop3.bmp"
TIdMappedFTP                           BITMAP "TIdMappedFTP.bmp"
TIDNNTPSERVER                          BITMAP "TIDNNTPSERVER.BMP"
TIDPOP3SERVER                          BITMAP "TIDPOP3SERVER.BMP"
TIDQOTDSERVER                          BITMAP "TIDQOTDSERVER.BMP"
TIdQotdUDPServer                       BITMAP "TIdQotdUDPServer.bmp"
TIDREXECSERVER                         BITMAP "TIDREXECSERVER.BMP"
TIDRSHSERVER                           BITMAP "TIDRSHSERVER.BMP"
TIDSMTPSERVER                          BITMAP "TIDSMTPSERVER.BMP"
TIDTRIVIALFTPSERVER                    BITMAP "TIDTRIVIALFTPSERVER.BMP"
TIDTIMESERVER                          BITMAP "TIDTIMESERVER.BMP"
TIdTimeUDPServer                       BITMAP "TIdTimeUDPServer.bmp"
TIDWHOISSERVER                         BITMAP "TIDWHOISSERVER.BMP"
TIDTELNETSERVER                        BITMAP "TIDTELNETSERVER.BMP"
// TIdTunnelMaster                        BITMAP "TIdTunnelMaster.BMP"
// TIdTunnelSlave                         BITMAP "TIdTunnelSlave.BMP"
TIdSyslogServer                        BITMAP "TIdSyslogServer.bmp"
TIdSystatServer                        BITMAP "TIdSystatServer.bmp"
TIdSystatUDPServer                     BITMAP "TIdSystatUDPServer.bmp"
TIdSocksServer                         BITMAP "TIdSocksServer.bmp"


/* Indy IOHandlers */
TIdServerIOHandlerSSL                  BITMAP "TIdServerIOHandlerSSL.bmp"
TIdIOHandlerThrottle                   BITMAP "TIdIOHandlerThrottle.bmp"
TIdSSLIOHandlerSocketOpenSSL           BITMAP "TIdSSLIOHandlerSocketOpenSSL.bmp"
TIdServerIOHandlerSSLOpenSSL           BITMAP "TIdServerIOHandlerOpenSSL.bmp"

/* Indy Intercepts */
TIdCompressionIntercept                BITMAP "TIdCompressionIntercept.bmp"
TIdBlockCipherIntercept                BITMAP "TIdBlockCipherIntercept.bmp"

TIdServerCompressionIntercept          BITMAP "TIdServerCompressionIntercept.bmp"
TIdServerInterceptLogEvent             BITMAP "TIdServerInterceptLogEvent.bmp"
TIdServerInterceptLogFile              BITMAP "TIdServerInterceptLogFile.bmp"

/* Indy SASL */
TIdSASLAnonymous                       BITMAP "TIdSASLAnonymous.bmp"
TIdSASLExternal                        BITMAP "TIdSASLExternal.bmp"
TIdSASLList                            BITMAP "TIdSASLList.bmp"
TIdSASLLogin                           BITMAP "TIdSASLLogin.bmp"
TIdSASLPlain                           BITMAP "TIdSASLPlain.bmp"
TIdUserPassProvider                    BITMAP "TIdUserPassProvider.bmp"
TIdSASLCRAMMD5                         BITMAP "TIdSASLCRAMMD5.bmp"
TIdSASLOTP                             BITMAP "TIdSASLOTP.bmp"
TIdSASLSKey                            BITMAP "TIdSASLSKey.bmp"

/* Misc components */
TIdCookieManager                       BITMAP "TIdCookieManager.BMP"
TIdConnectThroughHttpProxy             BITMAP "TIdConnectThroughHttpProxy.bmp"
TIDDATETIMESTAMP                       BITMAP "TIDDATETIMESTAMP.BMP"
TIDIPWATCH                             BITMAP "TIDIPWATCH.BMP"
TIDIPADDRMON                           BITMAP "TIDIPADDRMON.BMP"
TIdMailBox                             BITMAP "TIdMailBox.bmp"
TIDMESSAGE                             BITMAP "TIDMESSAGE.BMP"
TIDNETWORKCALCULATOR                   BITMAP "TIDNETWORKCALCULATOR.BMP"
TIDVCARD                               BITMAP "TIDVCARD.BMP"
TIDIMFDECODER                          BITMAP "TIDIMFDECODER.BMP"
TIDRLECOMPRESS                         BITMAP "TIDRLECOMPRESS.BMP"
TIDRLEDECOMPRESS                       BITMAP "TIDRLEDECOMPRESS.BMP"
TIdEncoderMIME                         BITMAP "TIdEncoderMIME.BMP"
TIdDecoderMIME                         BITMAP "TIdDecoderMIME.BMP"
tIdEncoderUUE                          BITMAP "tIdEncoderUUE.bmp"
tIdDecoderUUE                          BITMAP "tIdDecoderUUE.bmp"
TIdEncoderXXE                          BITMAP "TIdEncoderXXE.BMP"
TIdDecoderXXE                          BITMAP "TIdDecoderXXE.BMP"
TIdEncoderQuotedPrintable              BITMAP "TIdEncoderQuotedPrintable.BMP"
TIdDecoderQuotedPrintable              BITMAP "TIdDecoderQuotedPrintable.BMP"
TIdMessageDecoderMIME                  BITMAP "TIdMessageDecoderMIME.bmp"
TIdMessageEncoderMIME                  BITMAP "TIdMessageEncoderMIME.bmp"
TIdMessageDecoderYenc                  BITMAP "TIdMessageDecoderYenc.bmp"
TIdMessageEncoderYenc                  BITMAP "TIdMessageEncoderYenc.bmp"
TIdUserManager                         BITMAP "TIdUserManager.bmp"
TIdSysLogMessage                       BITMAP "TIdSysLogMessage.bmp"
TIdHL7                                 BITMAP "TIdHL7.bmp"
TIdCompressorBorZLib                   BITMAP "TIdCompressorBorZLib.bmp"
